<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand">留言板</a>

  <% if(username) { %>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/logout">登出</a>
    <% } else { %>
      <div>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/register">註冊</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/login">登入</a>
      </div>
  <% } %>
</nav>